.container{
   display: flex;
   justify-content: space-between;
   background-color: aliceblue;
   align-items:center;
}
.logo{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 1em;
    margin: 10px;
}
.logo h2{
    font-size: 2em;
    font-weight: 700;
    margin: 1em;
}
.logo span{
    color: rgb(253, 47, 150);
}
.logo img{
    height: 2.5em;
    margin-left: 3.2em;
}
.nav li{
        list-style: none;
        margin-right: 10px;
        padding: 10px;
        text-align: center;
        border-radius: 5px;     
}
.nav ul{
    display: flex;
}
.nav li:hover{
        background-color: aquamarine;
}
.nav a{
    text-decoration: none;
    padding: 10px;
}
.a-icon{
    display: flex;
    background-color: rgba(128, 128, 128, 0.516);
    border-radius: 5px;
    width: 200px;
    align-items: center;
}
.img{
    height: 1.5em;
    width: 1.5em;
    display: flex;
    gap: 5px;
    margin-right: 20px;

    
}
/* banner section */
.banner{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    gap: 70px;
    
}
.banner-title h3{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.simple-icon img{
    height: 1rem;
    width: 1rem;
}
.goat{
    font-family: Work Sans;
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    
}
.game{
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.span{
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}
.btn-1{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 48px;
    border-style: none;
    color: #fff;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.btn-2{
    border-radius: 48px;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    background: #4EC5F7;
    border-style: none;
    margin: 10px;
}
/* second main section */
.second-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    width: 100%;
    /* margin: auto; */

}
.container-description{
    margin:0px 40px ;
    padding-right: 20px;
    text-align: right;
    

}
.card-section {
    text-align: center;
    font-size: 25px;
    align-items: center;
}
.card-section p{
    font-size: small;
    
}
.card-section h3{
        margin-bottom: 10px;
}
.funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 700;
    
}
.card-img{
    display: flex;
    justify-content: center;

   
}
.card-btn img{
    height: 2em;
    width: 30px; 
    position: relative;
    left: 10em;
    bottom: 16em;
    background-color: #534c6448;
    /* border: 2px solid yellow; */
    cursor: pointer;
    
   
}
.card-btn p{
    position: relative;
    bottom: 16.8em;
    left: 8.6em;
    color: #fff;
}
.card{
    width: 100%;
    margin: 10px;
    padding: -10px;


}  
.card-title{
    font-size: 1em;
    color: #534C64;
    font-family: Work Sans;
    font-weight: 500;

}
/* feature section */
.feature-section{
    display: flex;
    margin-left: 70px;
    padding-left:3em;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
 .play{
    background:  #F948B2;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
}
.feature-title{
    color: #534C64;
    width: 50%;
    margin-bottom: 30em;
    text-align: center;
    
}
.feature-title h3{
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    
}
.feature-img{
    height: 120vh;
    width: 600px;
}
.feature-img-1{
    width:300px;
    position: relative;
    bottom: 250px;
    right: 150px;

   
}
/* feature-section-2 */
.feature-section-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F948B2;
    color: #fff;
    
    
}
.feature-description{
    flex-direction: column;
    padding-left: 2em;
    margin-left: 2em;
}
.feature-description h2{
    font-size: 2.3em;
}
#color-gary{
    color: #ebe6f4a9;
   
}
.feature-style{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    line-height: 2em;
}
#text{
    text-align: right;
}
.btn-3{
    background-color: #fff;
    padding: 21px 40px;
    border-radius: 2.3em;
    border-style: none;
    color: #F948B2;
    cursor: pointer;

}
/* sponsor-img-section */

.sponsor-img-section {
    /* display: grid; */
    display: flex;
    flex-wrap: wrap;
    margin-left: 6em;
    width: 79%;
    justify-content: center;
    margin: auto;
    padding: 2em;
    /* grid-template-columns: repeat(5, 1fr); */
    align-items: center;
}
.sponsor-img-title{
    display: flex;
    padding: .5em;
    align-items: center;
    margin: 1em;
    gap: .7em;
    font-size: 1em;
    font-weight:600;
    
    
}
.sponsor-img-title:hover{
    border: 2px solid hotpink;
    border-radius: 110px;
    color:hotpink;
    
    
}
.footer span{
    color: rgb(236, 57, 146);

}
footer h2{
    font-size: 2em;
}
.footer-parent{
    background-color: #0b0223d3;
    color: #fff;
    /* height: 50vh; */
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    

}
.footer{
    display:flex;
    justify-content:center; 
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.footer-description{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;

}
.footer-img{
    display: flex;
    margin: auto;
    height: 2em;
    width: 2em;
    gap: 20px;
    padding-right: 10em;

    
}

.footer-security{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: gray;
}
.copyright{
    text-align: center;
    font-size: .9em;
    color: gray;
    

}

  @media screen and (max-width:476px) {
        
    .container{
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 740px;
        padding: 20px;
    }
    .nav ul
    {
      flex-direction: column;  
       
        
    }
    .nav {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* justify-content: center;
        flex-direction: column; */
        flex-direction: column;
       

    }
    .banner{
        flex-direction: column;
        /* max-width: 50%; */
        text-align: center;
        align-items: center;
        margin: auto;
        width: 740px;
    }
    /* .img-1{
        width: 740px;
    } */
    .second-container, .container-description
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 740px;
    }
    .card{
        width: 740px;
        margin: auto;
    }
    .card-section{
        width: 740px;
    }
    .card-img{
        flex-direction: column;
        /* 
         */
        width: 740px;
        margin: auto;
       
    }
    .card-img img{
        margin: auto;
    }
    .sponsor-img-section{
        width: 740px;
    }
    .feature-section{
        flex-direction: column;
        align-items: center;
        margin: 20px 20px;
        
    }
    .feature-section-2{
        width: 740px;
    }
    .feature-img{
        position: relative;
        /* bottom: 25em; */
        align-items: center;
        margin: 20px 20px;
    }
   
    .footer-parent{
        width: 740px;
        /* width: 100%; */
    }
    .footer-description{
        flex-wrap: wrap;
        width: 270px;
        margin: auto;
    }


@media screen and (min-width:477px) and (max-width:778px) {
    
    .container{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .nav ul
    {
      flex-direction: column;  
       
        
    }
    .nav {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
       

    }
    .banner{
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: auto;
        
    }
}

